# Git
.git
.gitignore

# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
web_app/
api/
*.ipynb
*.png
.env
models/model1/*.h5
*.log

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentation
README.md
